
@{
    ViewBag.Title = "Choose report type";
    Layout = "~/Views/Reports/_IndexLayout.cshtml";
}

<pre>









</pre>

<h2>@ViewBag.Title</h2>


<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body m-page__container">

    <div class="col-lg-12 ">

        <div id="" class="row">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <div class="row">

                                <div class="col-sm-12 col-md-6">
                                    <a class="open-SummaryReport btn m-btn--pill btn-outline-success btn-lg" data-id="summary_report_" title="Summary Report">Summary Report</a>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <a href="/Surveys/Reports/Details" class="open-DetailReport btn m-btn--pill btn-outline-success btn-lg" data-id="detailed_report_" title="Detailed Report">Detailed Report</a>
                                </div>

                            </div>





                    </div>

                </div>
            </div>

        </div>


    </div>


</div>

<!-- begin::Footer -->
@*<footer class="m-grid__item m-footer m-footer__wrapper fixed-bottom modal-footer m-container--fluid ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-footer__wrapper ">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">

                <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                    <button id="question_type_close" type="button" class="btn_close_designer btn btn-md btn-danger " style="width:100px">Close</button>
                </div>
            </div>
        </div>
    </div>
</footer>*@

<!-- end::Footer -->
