<!-- Temple -->
<div class="col-lg-12 clonable choice_input_0_col_" id="choice_input_0_col_" style="display:none;">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable">
        <div class="m-portlet__head bg-light">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title ">
                    <label class="m-checkbox m-checkbox--state-success text-white h3">

                        <input type="checkbox" class="m-checkbox clonable" id="choice_input_0_checkbox_">

                        <cite id="choice_input_0_placing_" class="text-dark clonable" style="font-style:normal"> Text goes here</cite>

                        <span></span>
                    </label>
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body clonable" id="portlet_body_0_">
            @*<div id="portlet_body_help_text_0">
                    Your picture / icon / or emoticon here
                </div>*@

            <img id="picture_0_placing_" src="" style='width:100px;height:100px;display:none;' class="clonable">
            <div id="icon_0_placing_" style="font-size:72px;" class="clonable"><i class=""></i></div>
            <img id="emoticon_0_placing_" src="" style='display:none;' class="clonable">
            <textarea id="othertext" rows="5" cols="12" placeholder="enter other text here" class="text text-dark othertext" style='display:none;'></textarea>


        </div>
    </div>
</div>

