
    <input class="clonable" id="selectoptionsdropdown_" name="selectoptionsdropdown_" list="userinput_dropdown_list_">
    <datalist id="userinput_dropdown_list_" class="clonable">
        <option value="choice two"></option>
        <option value="Sample"></option>
    </datalist>    
