


<div id="file_publish_" style="display:none;" class="clonable">

    <div class="col-md-12 column sortable ">
        <div style="display:none;"><input id="is_required_" value="false" class="clonable" /></div>
        <div class="container_overlay clonable" id="file_container_overlay_question_picture_" style="display:none;">
            <img id="file_img_place_" name="file_img_place_" src="" alt="" class="image clonable" style="" />
        </div>


        <div id="file_preview_question_" style="font-size: large;color: #000; padding: 10px;" class="clonable">File type question</div>
        @{ Html.RenderPartial("_QuestionHelp", ViewData["type"] = "file_"); }

        <div class="row">
            <div class="form-group m-form__group row">
                <div class="col-lg-12 col-md-9 col-sm-12 ">
                    <div class="input-group date clonable" id="file_buttons_" style="width:165%;">                        
                        <input id="fileuploader_" type="file" class="form-control clonable">
                    </div>
                    <div id="info_fileUploader_" class="clonable" style="display:none;">
                        <span><label>Uploaded: </label><label id="filename_fileUploader_" class="form-control clonable"></label></span>
                    </div>
                </div>

            </div>

        </div>



    </div>

</div>

