<div class="col-lg-12 clonable" id="opinionscale_preview_" style="margin-bottom:40px">
    <div id="opinionscale_preview_" class="clonable">

        <div class="row">
            <div class="col-lg-1" style="vertical-align:middle">
                <label id="opinionscale_labelleft_" class="clonable">left side</label>
            </div>

            <div class="col-lg-10">
                <ul class="m-stack m-stack--ver m-stack--general slider-range row clonable" id="opinionscale_scalebox_parent_">
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_0_" onclick="setActiveNum(event)" class="scalebox clonable">0</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_1_" onclick="setActiveNum(event)" class="scalebox clonable">5</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_2_" onclick="setActiveNum(event)" class="scalebox clonable">10</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_3_" onclick="setActiveNum(event)" class="scalebox clonable">15</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_4_" onclick="setActiveNum(event)" class="scalebox clonable">20</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_5_" onclick="setActiveNum(event)" class="scalebox clonable">25</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_6_" onclick="setActiveNum(event)" class="scalebox clonable">30</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_7_" onclick="setActiveNum(event)" class="scalebox clonable">35</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_8_" onclick="setActiveNum(event)" class="scalebox clonable">40</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_9_" onclick="setActiveNum(event)" class="scalebox clonable">45</a></li>
                    <li class="m-stack__item m-stack__item--center stack_width_standard col-lg-1 one-li" style="height:50px;"><a id="opinionscale_scalebox_10_" onclick="setActiveNum(event)" class="scalebox clonable">50</a></li>
                </ul>
                <div class="" style="text-align:center">
                    <label id="opinionscale_labelbottom_" class="clonable">middle is good</label>
                </div>
            </div>

            <div class="col-lg-1">
                <label id="opinionscale_labelright_" class="clonable" style="vertical-align:middle">right is good</label>
            </div>

        </div>
    </div>
</div>
