
<div class="col-lg-12 hidden_part clonable" id="rating_input_0_col_">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable">
        <div class="m-portlet__head bg-light">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title ">
                <div><span class="question_number_0_rating_label clonable" id="question_number_0_rating_label_">0</span>.</div>
                    <label class="m-portlet__head-label text-white">

                        @*<input type="checkbox" class="m-checkbox checkbox_55" id="choice_input_0_checkbox">*@

                        <cite id="rating_input_0_placing_" class="text-dark m--font-bold h5 clonable" style="font-style:normal; margin-left:5px"> Text goes here</cite>

                        <span></span>
                    </label>
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body clonable" id="rating_portlet_body_0_">
            @*<div id="portlet_body_help_text_1">
                    Your picture / icon / or emoticon here
                </div>*@
            <img id="picture_0_placing_rating_" class="clonable" src="" style='width:100px;height:100px;display:none;'>
            <div class="m-radio-inline clonable" id="ratings_for_statement_0_">
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left clonable" id="basic_stars_0_"></div>
                    <span id="basic_stars_live_rating_0_" class="hidden_part pull-right clonable" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left clonable" id="rounded_stars_0_"></div>
                    <span id="rounded_stars_live_rating_0_" class="hidden_part pull-right clonable" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left clonable" id="gradient_stars_0_"></div>
                    <span id="gradient_stars_live_rating_0_" class="hidden_part pull-right clonable" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left clonable" id="full_stars_0_"></div>
                    <span id="full_stars_live_rating_0_" class="hidden_part pull-right clonable" style="font-size:30px;"></span>
                </div>
            </div>

        </div>

    </div>
</div>