@{
    Layout = null;
}

<div id="divAgreeButtonPartialParent" class="col-lg-12 form-group form-inline " style="margin-bottom:60px">

    
    <div id="divBtnIAgreePlacement" class="col-lg-3"  style="margin-top:25px;" >
        <button id="I_agree_button" name="I_agree_button" type="button" onclick="checkuncheck(1,'I_agree_button','confirmer_I_agree_button')" class="btn btn-lg btn-success " >
            <span ><i id="confirmer_I_agree_button" class="fa fa-square-o" style="font-size:26px;" ></i>&nbsp;&nbsp;&nbsp;I Agree</span>
        </button>
    </div>
    <div id="divBtnIDisagreePlacement" class="col-lg-3" style="margin-top:25px;">
        <button id="I_Disagree_button" name="I_Disagree_button" type="button" onclick="checkuncheck(1,'I_Disagree_button','confirmer_I_Disagree_button')" class="btn btn-lg btn-danger">
            <span><i id="confirmer_I_Disagree_button" class="fa fa-square-o" style="font-size:26px;"></i>&nbsp;&nbsp;&nbsp;I Disagree</span>
        </button>

    </div>
    
</div>