
    <div class="row" id="logic_jump_input" style="display:none;">
        <div class="col-lg-12">
            <div class="m-dropdown m-dropdown--inline m-dropdown--align-left" data-dropdown-toggle="hover" aria-expanded="true">
                <span>
                <a href="#" id="logic_jump_link">
                    
                    <label class="m-checkbox">
                        <input type="checkbox" name="checkboxes" id="logic_jump_checkbox">
                        Logic jump
                        <span></span>
                    </label>
                </a>
                </span>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <span >
                <a class="btn btn-warning btn-sm" id="view_logicJump" style="display:none;">
                View jump
                </a>
                </span>
            </div>
        </div>
    </div>
<div id="logic_jump_activated" style="display:none;">

    <!--end of template logic jump-->
    Selected Logic Jumps shown here

</div>

