<div id="opinionscale_preview" class="hidden_part">


    <div class="row">
        <div class="col-lg-1" style="vertical-align:middle">
            <label id="labelleft">left label</label>
        </div>
        <div class="col-lg-10 slider-range row" id="scalebox_parent">
            <button id="scalebox_0" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom    " style="height:50px;width:auto" onclick="setActiveNum(event)">
                0
            </button>
            <button id="scalebox_1" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom   scalebox " style="height:50px;width:auto" onclick="setActiveNum(event)">
                1
            </button>
            <button id="scalebox_2" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom  scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                2
            </button>
            <button id="scalebox_3" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom  scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                3
            </button>
            <button id="scalebox_4" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom   scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                4
            </button>
            <button id="scalebox_5" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom   scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                5
            </button>
            <button id="scalebox_6" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom   scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                6
            </button>
            <button id="scalebox_7" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom  scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                7
            </button>
            <button id="scalebox_8" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom   scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                8
            </button>
            <button id="scalebox_9" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom  scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                9
            </button>
            <button id="scalebox_10" type="button" class="btn m-btn--square  btn-outline-info m-btn m-btn--custom  scalebox" style="height:50px;width:auto" onclick="setActiveNum(event)">
                10
            </button>

            @*<ul class="m-stack m-stack--ver m-stack--general slider-range row" id="scalebox_parent">
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard col-lg-1 one-li" style="height:50px;">
                    <a id="scalebox_0" class="scalebox" onclick="setActiveNum(event)">0</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard col-lg-1 one-li" style="height:50px;">
                    <a id="scalebox_1" class="scalebox" onclick="setActiveNum(event)">1</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard col-lg-1 one-li" style="height:50px;">
                    <a id="scalebox_2" class="scalebox" onclick="setActiveNum(event)">2</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard col-lg-1 one-li" style="height:50px;">
                    <a id="scalebox_3" class="scalebox" onclick="setActiveNum(event)">3</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard col-lg-1 one-li" style="height:50px;">
                    <a id="scalebox_4" class="scalebox" onclick="setActiveNum(event)">4</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard col-lg-1 one-li" style="height:50px;">
                    <a id="scalebox_5" class="scalebox" onclick="setActiveNum(event)">5</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard one-li col-lg-1" style="height:50px;">
                    <a id="scalebox_6" class="scalebox" onclick="setActiveNum(event)">6</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard one-li col-lg-1" style="height:50px;">
                    <a id="scalebox_7" class="scalebox" onclick="setActiveNum(event)">7</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard one-li col-lg-1" style="height:50px;">
                    <a id="scalebox_8" class="scalebox" onclick="setActiveNum(event)">8</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard one-li col-lg-1" style="height:50px;">
                    <a id="scalebox_9" class="scalebox" onclick="setActiveNum(event)">9</a>
                </li>
                <li class="m-stack__item m-stack__item--center m-stack__item--middle stack_width_standard one-li col-lg-1" style="height:50px;">
                    <a id="scalebox_10" class="scalebox" onclick="setActiveNum(event)">10</a>
                </li>
            </ul>*@
            <div class="" style="text-align:center" >
                <br /><br /><br /><label id="labelbottom">bottom label</label>
            </div>

        </div>
        <div class="col-lg-1">
            <label id="labelright" style="vertical-align:middle">right label</label>
        </div>






        
       

    </div>
</div>