
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body m-page__container">

    <div class="col-lg-12 ">

        <div id="" class="row">            

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                        <h3>Choose question type</h3><br />
                        <div class="row">

                            <div class="col-sm-12 col-lg-4">
                                <a class="open-LongTextDialog btn btn-default" data-id="longtext_" title="Add long text">Long Text</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-ShortTextDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="shorttext_" title="Add short text">Short Text</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-MultiChoiceDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="multichoice_" title="Add multi choice">Multi-Choice</a>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-12 col-lg-4">
                                <a class="open-ChoiceDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="choice_" title="Add choice">Choice</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-MultiStatementDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="multistatement_" title="Multi Statement">Multi-Statement</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-DropDownDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="dropdown_" title="Add drop down">Drop Down</a>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-12 col-lg-4">
                                <a class="open-YesNoDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="yesno_" title="Add yes no question">Yes / No</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-OpinionScaleDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="opinionscale_" title="Add opinion scale">Opinion Scale</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-NumberDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="number_" title="Add number type">Number </a>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-12 col-lg-4">
                                <a class="open-DateDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="date_" title="Add date type">Date</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-PictureDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="picture_" title="Add picture choice">Picture Choice</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-AgreeDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="agree_" title="Add agreement">Agree Button</a>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-12 col-lg-4">
                                <a class="open-FileDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="file_" title="Add file upload">File Upload</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-EmailDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="email_" title="Add email">Email</a>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <a class="open-RatingDialog btn btn-default" data-toggle="modal" data-target="#the_modal" data-id="rating_" title="Add ratings question">Ratings</a>
                            </div>

                        </div>




                    </div>

                </div>
            </div>

        </div>


    </div>


</div>

<!-- begin::Footer -->
<footer class="m-grid__item m-footer m-footer__wrapper fixed-bottom modal-footer m-container--fluid ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-footer__wrapper ">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">

                <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                    <button id="question_type_close" type="button" class="btn_close_designer btn btn-md btn-danger " style="width:100px">Close</button>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- end::Footer -->
