<div class="row">
    <div class="col-lg-12" id="date_input">
        <label>Date Format</label>
        <br />
        <div>
            <div style="display:inline-block; float:left;">Structure</div>
            <div style="display:inline-block; float:right;">Separator</div>
        </div>
        <br />
        <div style="display:inline-block; float:left;">
            <select style="width:130px;" id="date_format_builder" onchange="onChangeDateFormat(this);">
                <option>MMDDYYYY</option>
                <option>DDMMYYYY</option>
                <option>YYYYMMDD</option>
            </select>
            </div>
            &nbsp; &nbsp;
        <div style="display:inline-block; float:right;">
            <select style="width:50px;" id="separator_format">
                <option>/</option>
                <option>-</option>
                <option>.</option>
            </select>
        </div>
            
        </div>

</div>
