<div class="row" id="multi_statement_input_1_col">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable">
        <div class="m-portlet__head bg-light" style="height:auto">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title ">
                    <label class="question_number_1_multi_statement">1.</label> 
                    <label class="m-portlet__head-label text-white ">                       
                        <cite id="multi_statement_input_1_placing" class="text-dark m--font-bold h5  " style="font-style:normal; margin-left:5px"> Text goes here</cite>

                        <span></span>
                    </label>
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body" id="multi_statement_portlet_body_1" style="height:auto">
            @*<div id="portlet_body_help_text_1">
                    Your picture / icon / or emoticon here
                </div>*@
            <img id="picture_1_placing_multi_statement" src="" style='width:100px;height:100px;display:none;'>
            <div class="m-radio-inline" id="radios_for_statement_1" style="height:auto">
                <label class="m-radio" style="height:auto">
                    <input type="radio" id="multi_statement_input_group_1_subitem_1_option" name="option_radio_for_statement_1" value="Option 1">
                    <cite id="multi_statement_input_group_1_subitem_1_option_value" style="font-style:normal;">Option 1</cite>
                    <span></span>
                </label>
                <!-- TEMPLATE RADIO LABEL FOR OPTION-->
                <label class="m-radio" id="radio_for_statement_template" style="display:none;">
                    <input type="radio" id="multi_statement_input_group_0_subitem_0_option" name="option_radio_for_statement_1" value="Sample option">
                    <cite id="multi_statement_input_group_0_subitem_0_option_value" style="font-style:normal;">Sample option</cite>
                    <span></span>
                </label>
                <!-- end TEMPLATE RADIO LABEL FOR OPTION-->

                @*<label class="m-radio">
                    <input type="radio" name="example_3" value="3">
                    Option 3
                    <span></span>
                </label>*@
            </div>

        </div>

    </div>
</div>

 
<!-- Template -->
<div class="col-lg-12 hidden_part multi_statement_input_0_col" id="multi_statement_input_0_col" style="height:auto">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable" style="height:auto">
        <div class="m-portlet__head bg-light" style="height:auto" >
            <div class="m-portlet__head-caption" style="height:auto">
                <div class="m-portlet__head-title " style="height:auto">
                    <label class="question_number_0_multi_statement" style="height:auto">0.</label>
                    <label class="m-portlet__head-label text-white" style="height:auto">

                        @*<input type="checkbox" class="m-checkbox checkbox_55" id="choice_input_0_checkbox">*@
                        
                        <cite id="multi_statement_input_0_placing" class="text-dark m--font-bold h5" style="height:auto; font-style:normal; margin-left:5px"> Text goes here</cite>

                        <span></span>
                    </label>
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body hidden_part" id="multi_statement_portlet_body_0 " style="height:auto">
            @*<div id="portlet_body_help_text_0">
                    Your picture / icon / or emoticon here
                </div>*@

            <img id="picture_0_placing_multi_statement" src="" style='width:100px;height:100px;display:none;'>
            @*<div id="icon_0_placing" style="font-size:x-large;"><i class=""></i></div>
            <img id="emoticon_0_placing" src="" style='display:none;'>*@

            <div class="m-radio-inline" id="radios_for_statement_0" style="height:auto">
                <label class="m-radio" style="height:auto">
                    <input type="radio" id="multi_statement_input_group_0_subitem_0_option" name="option_radio_for_statement_0" value="">
                    <cite id="multi_statement_input_group_0_subitem_0_option_value" style="font-style:normal;">Sample option</cite>
                    <span></span>
                </label>
                <!-- TEMPLATE RADIO LABEL FOR OPTION-->
                <!--same as above-->
                <!-- end TEMPLATE RADIO LABEL FOR OPTION-->
            </div>


        </div>
    </div>
</div>
