<div class="row">
    <div class="col-lg-12" id="number_input">
        <label>Range of values</label>
        <br />
        (Leave empty if not required)
        <br />
        <input type="number" id="fromNum" name="fromNum" style="width:70px;" value="" />
        &nbsp; to &nbsp;
        <input type="number" id="toNum" name="toNum" style="width:70px;" value="" />
    </div>

</div>
