<div id="OpinionIcons" class="">
	<div class="m-dropdown m-dropdown--inline m-dropdown--align-left" data-dropdown-toggle="hover" aria-expanded="true">
        <a class="m-dropdown__toggle btn btn-warning dropdown-toggle dropdownMenuButton_@ViewData["k"]" data-toggle="modal" data-target="#m_modal_1_2">
            Select Icon
        </a>

		@*<a class="m-dropdown__toggle btn btn-warning dropdown-toggle dropdownMenuButton_@ViewData["k"]">
			Select Icon
		</a>*@

	</div>
</div>