<div class="col-lg-12" id="choice_input_1_col" style="height:auto">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable" style="height:auto">
        <div class="m-portlet__head bg-light" style="height:auto">
            <div class="m-portlet__head-caption" style="height:auto" >
                <div class="m-portlet__head-title " style="height:auto">
                
                    <label  class="m-checkbox m-checkbox--state-success text-white h3" style="height:auto">
                       
                        <input type="checkbox" class="m-checkbox checkbox_55" id="choice_input_1_checkbox" style="height:auto">
                        
                        <cite id="choice_input_1_placing" class="text-dark  " style="height:auto; font-style:normal"> Text goes here</cite>
                        
                        <span></span>
                    </label>
                
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body hidden_part"  id="portlet_body_1" style="height:auto">
            @*<div id="portlet_body_help_text_1">
                Your picture / icon / or emoticon here
            </div>*@
            <img id="picture_1_placing" src="" style='width:100px;height:100px;display:none;'>
            <div id="icon_1_placing" style="font-size:72px;display:block;margin: 0 auto;"><i class=""></i></div>
            <img id="emoticon_1_placing" src="" style='width:100px;height:100px;display:none;'>
            @*<textarea id="othertext" rows="5" class="text text-dark" style="display:none"></textarea>*@
           
           
        </div>
       
    </div>
    @*<div id="moreinfolink" class="m-footer">
        <a href="http://tresamay.com.uk" target="_blank">Click for more info</a>
    </div>*@
</div>



<!-- Template -->
<div class="col-lg-12 hidden_part choice_input_0_col" id="choice_input_0_col" style="height:auto">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable" style="height:auto">
        <div class="m-portlet__head bg-light" style="height:auto">
            <div class="m-portlet__head-caption" style="height:auto">
                <div class="m-portlet__head-title " style="height:auto">
                    <label class="m-checkbox m-checkbox--state-success text-white h3" style="height:auto">

                        <input type="checkbox" class="m-checkbox checkbox_55" id="choice_input_0_checkbox" style="height:auto">

                        <cite id="choice_input_0_placing" class="text-dark  " style="height:auto; font-style:normal"> Text goes here</cite>

                        <span></span>
                    </label>
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body hidden_part" id="portlet_body_0" style="height:auto">
            @*<div id="portlet_body_help_text_0">
                Your picture / icon / or emoticon here
            </div>*@

            <img id="picture_0_placing" src="" style='width:100px;height:100px;display:none;'>
            <div id="icon_0_placing" style="font-size:72px;"><i class=""></i></div>
            <img id="emoticon_0_placing" src="" style='display:none;'>   
           
           
            
        </div>
    </div>
</div>
