
<section class="section section-examples hidden_part" id="rating_preview">
    <div class="box box-orange box-example-1to10" id="example-1to10_head">
        <div class="box-header">1/10 Rating</div>
        <div class="box-body">
            <select id="example-1to10" name="rating" autocomplete="off">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7" selected="selected">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <div class="box box-blue box-example-movie hidden_part" id="example-movie_head">
        <div class="box-header">Feel Rating</div>
        <div class="box-body">
            <select id="example-movie" name="rating" autocomplete="off">
                <option value="Bad">Bad</option>
                <option value="Mediocre">Mediocre</option>
                <option value="Good" selected="selected">Good</option>
                <option value="Awesome">Awesome</option>
            </select>
        </div>
    </div>


    <div class="box box-blue box-example-square hidden_part" id="example-square_head">
        <div class="box-header">Square Rating</div>
        <div class="box-body">
            <select id="example-square" name="rating" autocomplete="off">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>


    <div class="box box-green box-example-pill hidden_part" id="example-pill_head">
        <div class="box-header">Pill Rating</div>
        <div class="box-body">
            <select id="example-pill" name="rating" autocomplete="off">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
            </select>
        </div>
    </div>


    <div class="box box-green box-large box-example-reversed hidden_part" id="example-reversed_head">
        <div class="box-header">Reversed Rating</div>
        <div class="box-body">
            <select id="example-reversed" name="rating" autocomplete="off">
                <option value="Strongly Agree">Strongly Agree</option>
                <option value="Agree">Agree</option>
                <option value="Neither Agree or Disagree" selected="selected">Neither Agree or Disagree</option>
                <option value="Disagree">Disagree</option>
                <option value="Strongly Disagree">Strongly Disagree</option>
            </select>
        </div>
    </div>


    <div class="box box-orange box-large box-example-horizontal hidden_part" id="example-horizontal_head">
        <div class="box-header">Horizontal Rating</div>
        <div class="box-body">
            <select id="example-horizontal" name="rating" autocomplete="off">
                <option value="10">10</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1" selected="selected">1</option>
            </select>
        </div>
    </div>


    <div class="box box-green box-large hidden_part" id="example-fontawesome_head">
        <div class="box-header">Font Awesome</div>
        <div class="box-body stars stars-example-fontawesome">
            <select id="example-fontawesome" name="rating" autocomplete="off">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span class="title">Font Awesome</span>
        </div>
    </div>


    <div class="box box-green box-example-pill hidden_part" id="example-css_head">
        <div class="box-header">CSS Stars</div>
        <div class="box-body">
            <div class="stars stars-example-css">
                <select id="example-css" name="rating" autocomplete="off">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="title">CSS Stars</span>
            </div>
        </div>
    </div>



    <div class="box box-blue box-example-movie hidden_part" id="example-bootstrap_head">
        <div class="box-header">Bootstrap</div>
        <div class="box-body">
            <div class="stars stars-example-bootstrap">
                <select id="example-bootstrap" name="rating" autocomplete="off">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="title">Bootstrap</span>
            </div>
        </div>
    </div>

    <div class="star-ratings hidden_part">
        <p>It can be used to display fractional star ratings.</p>
        <div class="stars stars-example-fontawesome-o">
            <select id="example-fontawesome-o" name="rating" data-current-rating="5.6" autocomplete="off">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <span class="title current-rating">
                Current rating: <span class="value"></span>
            </span>
            <span class="title your-rating hidden">
                Your rating: <span class="value"></span>&nbsp;
                <a href="#" class="clear-rating"><i class="fa fa-times-circle"></i></a>
            </span>
        </div>
    </div>



</section>

