
<section class="section section-examples" id="rating_preview">    
    
    
</section>



<div class="row" id="rating_input_1_col">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable">
        <div class="m-portlet__head bg-light">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title ">
                    <label class="question_number_1_rating_label" id="question_number_1_rating_label">1.</label>
                    <label class="m-portlet__head-label text-white ">
                        <cite id="rating_input_1_placing" class="text-dark m--font-bold h5  " style="font-style:normal; margin-left:5px"> Text goes here</cite>

                        <span></span>
                    </label>
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body" id="rating_portlet_body_1">
            @*<div id="portlet_body_help_text_1">
                    Your picture / icon / or emoticon here
                </div>*@
            <img id="picture_1_placing_rating" src="" style='width:100px;height:100px;display:none;'>
            <div class="m-radio-inline" id="ratings_for_statement_1">
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">                    
                    <div class="basic_stars_1 pull-left hidden_part" id="basic_stars_1"></div>
                   <span id="basic_stars_live_rating_1" class="hidden_part pull-right basic_stars_live_rating_1" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle" >
                    <div class="rounded_stars_1 hidden_part pull-left "  id="rounded_stars_1" ></div>
                    <span id="rounded_stars_live_rating_1" class="hidden_part pull-right rounded_stars_live_rating_1" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" >
                    <div class="gradient_stars_1 pull-left hidden_part" id="gradient_stars_1" style="padding-bottom:10px; vertical-align:middle" ></div>
                   <span id="gradient_stars_live_rating_1" class="hidden_part pull-right gradient_stars_live_rating_1" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="full_stars_1 pull-left hidden_part" id="full_stars_1"></div>
                    <span id="full_stars_live_rating_1" class="hidden_part pull-right full_stars_live_rating_1" style="font-size:30px;"></span>
                </div>

            </div>

        </div>

    </div>
</div>


<!-- Template -->
<div class="col-lg-12 hidden_part rating_input_0_col" id="rating_input_0_col">
    <div class="m-portlet m-portlet--mobile m-portlet--sortable">
        <div class="m-portlet__head bg-light">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title ">
                    <div class="question_number_0_rating_label" id="question_number_0_rating_label">0.</div>
                    <label class="m-portlet__head-label text-white">

                        @*<input type="checkbox" class="m-checkbox checkbox_55" id="choice_input_0_checkbox">*@

                        <cite id="rating_input_0_placing" class="text-dark m--font-bold h5" style="font-style:normal; margin-left:5px"> Text goes here</cite>

                        <span></span>
                    </label>
                    @*<h3 class="m-portlet__head-text m--font-success">
                            Portlet Action Buttons
                        </h3>*@
                </div>
            </div>
            @*<div class="m-portlet__head-tools">

                </div>*@
        </div>
        <div class="m-portlet__body hidden_part" id="rating_portlet_body_0">
            @*<div id="portlet_body_help_text_1">
                    Your picture / icon / or emoticon here
                </div>*@
            <img id="picture_0_placing_rating" src="" style='width:100px;height:100px;display:none;'>
            <div class="m-radio-inline" id="ratings_for_statement_0">
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left basic_stars_0" id="basic_stars_0"></div>
                    <span id="basic_stars_live_rating_0" class="hidden_part pull-right basic_stars_live_rating_0" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left rounded_stars_0" id="rounded_stars_0"></div>
                    <span id="rounded_stars_live_rating_0" class="hidden_part pull-right rounded_stars_live_rating_0" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left gradient_stars_0" id="gradient_stars_0"></div>
                    <span id="gradient_stars_live_rating_0" class="hidden_part pull-right gradient_stars_live_rating_0" style="font-size:30px;"></span>
                </div>
                <div class="m--align-left" style="padding-bottom:10px; vertical-align:middle">
                    <div class="hidden_part pull-left full_stars_0" id="full_stars_0"></div>
                    <span id="full_stars_live_rating_0" class="hidden_part pull-right full_stars_live_rating_0" style="font-size:30px;"></span>
                </div>
            </div>

        </div>

    </div>
</div>